@import "./normalize.min.css";
@import "./circle.css";

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Titillium Web', sans-serif;
}

.b-page {
  margin: 0 auto;
}
p{
  padding: 0px;
  margin: 0px;
}
ul, h1, h2, h3, h4, h5, figure, input{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
:root{
  --first-bg-color: #87509C;
  --white-color: #ffffff;
  --deep-purple-menu-hv: #643A79;
  --burnt-sienna-btn1: #eb7d4b;
  --caribbean-green: #17C2A4;
  --third-bg-color: #e7f1f8;
  --photo-color: #878787;
  --text-c3-title: #3c4761;
  --text-c3: #8c96a7;
  --text-c3-subtitle: #3cbee8;
  --nav-c3: #bdd1df;
  --text-c4-title: #3c4761;
  --text-c4: #a4a9b5;
  --fifth-bg-color: #ffdd99;
  --text-c5-title: #393939;
  --text-c5: #534f46;
  --text-c5-subtitle: #887b5f;
  --nav-c5: #ebcb8d;
  --nav-color: #8d7e61;
  --sixth-bg-color: #d74680;
  --text-c7-color: #fac996;
  --seventh-bg-color: #3c5499;
  --deep-blue: #273A71;
  --deep-blue-footer: #344b8e;
  --twitter-color: #30BAE7;
  --facebook-color: #3b5998;
  --googleplus-color: #db4a39;
  --linkedin-color:  #0e76a8;
  --behance-color: #053eff;
  --dribbble-color: #ea4c89;
  --github-color: #000000;
  --orange-border-shadow: #c86a40;
  --green-border-shadow: #14a58b;
  --color-black: #000000;
  --full-screen: 100vh;
  --big-letters: uppercase;
  --graphic-without-color: #dfe8ed;
}
.section--purple{
  height: var(--full-screen);
  background-color: var(--first-bg-color);
}
.b-page__header{
  background-color: var(--first-bg-color);
}
.b-head{
  max-width: 1050px;
  margin: 0 auto;
  padding-top: 57px;
}
.b-head__logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-logo__link{
  display: inline-block;
}
.b-logo__img{
  max-width: 117px;
}
 .b-head__nav {
  position: relative;
 }
 .b-head__nav-btn{ 
   display: none;
  } 
.b-head__nav-btn-label{
   display: none;
   cursor: pointer;
 }


.b-head__nav-menu,
.b-head__nav-menu--nude{
  text-transform: var(--big-letters);
  display: inline-block;
}
.b-head__nav-menu-list,
.b-head__nav-menu-list--node{
  display: inline;
}
.b-list__link{
  text-decoration: none;
  color: var(--white-color);
  display: inline-block;
  padding: 10px 17px;
}
.b-list__link--purple:hover{
   background-color: var(--deep-purple-menu-hv);
   padding: 10px 17px 9px 17px;
   border-radius: 5px;
}
/* .b-head__nav-menu-list:last-child{
  padding-right: 0px;
} */
.b-head__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 130px;
}
.b-text{
  display: flex;
  justify-content: center;
}
.b-head-text__heading{
  color: var(--white-color);
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.button{
  display: flex;
  justify-content: center;
}
.button:hover{
  opacity: 0.8;
}
.section__content-person__social-item:hover{
  opacity: 0.7;
}
.button__submit{
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-transform: var(--big-letters);
  letter-spacing: 0.27px;
  padding: 20px 82px;
  outline: none;
}
.button__submit--orange{
  background-color: var(--burnt-sienna-btn1);
  color: var(--white-color);
  border-bottom: 4px solid var(--orange-border-shadow);
}
.section{
  padding-top: 119px;
  padding-bottom: 128px;
}
.section--green{
  background-color: var(--caribbean-green);
}
.section-wrapper{
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__heading{
  margin-bottom: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__title{
  display: inline-block;
  color: var(--white-color);
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 4px;
  text-align: center;
  text-transform: var(--big-letters);
  position: relative;
  margin-bottom: 23px;
}
.section__title--white:after{
  content: '';
  display: block;
  background-color: var(--color-black);
  opacity: 0.2;
  width: 87px;
  height: 4px;
  margin-top: 21px;
  position: absolute;
  left: 170px;
}
.section__title--grey:after{
  content: '';
  display: block;
  background-color: var(--color-black);
  opacity: 0.1;
  width: 87px;
  height: 4px;
  margin-top: 21px;
  position: absolute;
  left: 250px;
}
.section__title-skills:after{
  content: '';
  display: block;
  background-color: var(--color-black);
  opacity: 0.2;
  width: 87px;
  height: 4px;
  margin-top: 21px;
  margin-bottom: 23px;
  position: absolute;
  left: 120px;
}
.section__title--brown:after{
  content: '';
  display: block;
  background-color: var(--color-black);
  opacity: 0.2;
  width: 87px;
  height: 4px;
  margin-top: 21px;
  position: absolute;
  left: 120px;
}
.section__title-about:after{
  content: '';
  display: block;
  background-color: var(--color-black);
  opacity: 0.2;
  width: 87px;
  height: 4px;
  margin-top: 21px;
  position: absolute;
  left: 260px;
}
.section__title-touch:after{
  content: '';
  display: block;
  background-color: var(--color-black);
  opacity: 0.2;
  width: 87px;
  height: 4px;
  margin-top: 21px;
  position: absolute;
  left: 100px;
}
.section__text{
  margin-top: 23px;
}
.section__text-content{
  color: var(--white-color);
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.36px;
  font-style: normal;
  text-align: center;
}
.section__text-content--white{
  max-width: 604px;
}
.section__content{
  display: flex;
  justify-content: space-around;
}
.section__content-img{
  margin-bottom: 60px;
}
.section__content-img--green{
   max-height: 130px;
}
.section__content-img-item--green{
  max-height: 130px;
  max-width: 130px;
}
.section__content-title{
  color: var(--white-color);
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.48px;
  text-transform: var(--big-letters);
  margin-bottom: 27px;
}
.section__content-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21%;
  justify-content: flex-end;
}
.section__content-text{
  color: var(--white-color);
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.32px;
  text-align: center;
}
.section--white{
  background-color: var(--third-bg-color);
}
.section__content-person__social-item{
  background-color: #bdd1df;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.section__content-person__social-item:last-child{
  margin-right: 0px;
}
.fab{
  color: var(--white-color);
}
.fas{
  color: var(--white-color);
}
.section__title--grey{
  color: var(--text-c3-title);
}
.section__text-content--grey{
  color: var(--text-c3);
  margin-bottom: 21px;
}
.section-team__content-item-photo{
  background-color: var(--photo-color);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 41px;
}
.section__content-img-photo{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.section__content-title--grey{
  color:var(--text-c3-title)
}
.section__content-subtitle{
  color: var(--text-c3-subtitle);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.32px;
  margin-bottom: 26px;
}
.section__content-text--grey{
  color: var(--text-c3);
  margin-bottom: 31px;
  min-height: 110px;
}
.section__content-person__social-list{
  display: flex;
  justify-content: center;
}
.section__content-person__social-item-link{
  display: inline-block;
}

.section__title-skills{
  color: var(--text-c4-title);
}
.section__text-content-skills{
  color: var(--text-c4);
  max-width: 568px;
}
.section__content-title-skills{
  color: var(--text-c3-title);
}
.section__content-item--white{
  width: unset;
}
.section-skills{
  align-items: normal;
}

.section--nude{
  background-color: var(--fifth-bg-color);
}
.section__title--brown{
  color: var(--text-c5-title);
}
.section__text-content--brown{
  color: var(--text-c5);
  max-width: 515px;
}
.section__content_portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.section__content-img-item-portfolio{
  position: absolute;
  bottom: 36px;
  left: 64px;
}
.section__content-img-portfolio{
  display: inline-block;
  margin-bottom: 30px;
  background-image: url("../img/laptop.png");
  width: 501px;
  height: 311px;
  position: relative;
}
/* .section__content-img-about{
  margin-top: 30px;
} */
.section__content-item-portfolio{
  margin-bottom: 64px;
  flex: 45%;
}
.section__content-img-about{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: var(--big-letters);
}
.section__filter{
  padding-bottom: 62px;
}
.button__submit--green{
  background-color: var(--caribbean-green);
  color: var(--white-color);
  border-bottom: 4px solid var(--green-border-shadow);
}
.section--rose{
  background-color: var(--sixth-bg-color);
}
.b-head__nav-menu-list--node{
  display: inline-block;
  margin-right: 10px;
  width: 84px;
  height: 32px;
  padding-top: 6px;
  text-align: center;
  background-color: var(--nav-c5);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: var(--nav-color);
  cursor: pointer;
}
.b-head__nav-menu-list--node:hover{
  opacity: 0.8;
}
.b-head__nav-menu-list--node:last-child{
  margin-right: 0px;
}
.b-head__nav-menu-list-active--node{
   background-color: var(--white-color);
   display: inline-block;
}
.section__content--rose{
  display: flex;
  flex-wrap: wrap;
}
.section__content-item-about{
  /* display: flex; */
  flex: 45%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.section-team__content-item-photo--rose{
  width: 96px;
  height: 96px;
  margin-bottom: 0px;
}
.section-team__content-item-photo-img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.section__content-text--rose{
  text-align: left;
  font-size: 21px;
  font-style: italic;
  letter-spacing: 0.35px;
  margin-bottom: 28px;
  max-width: 350px;
}
.section__content-title--rose{
  margin-bottom: 0px;
}
.section__content-subtitle--rose{
  margin-bottom: 0px;
  color: var(--fifth-bg-color);
  text-align: left;
}
.section__content-item-about:first-child{
  margin-bottom: 158px;
}
.section__content-item-about:nth-child(2){
  margin-bottom: 158px;
}
.section--blue{
  background-color: var(--seventh-bg-color);
}
.section__content--blue{
  margin-bottom: 59px;
  width: 100%;
}
.button__submit--blue{
  background-color: var(--twitter-color);
  color: var(--white-color);
  border-bottom: 4px solid #2d8dba;
}
.section-content__form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}
.placeholder{
  display: none;
  line-height: 56px;
  cursor: text;
  position: absolute;
  left: 0px;
  top: 0;
  padding-left: 26px;
  font-size: 18px;
  color: var(--white-color);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.label-name .section-content__submit-name:invalid + .placeholder,
.label-email .section-content__submit-email:invalid + .placeholder,
.label-text .section-content__submit-text:invalid + .placeholder{
  display: inline;
}
.label-name,
.label-email{
  position: relative;
  width: 45%;
  height: 56px;
  margin-bottom: 26px;
  border-radius: 5px;
}
.label-text{
  position: relative;
  width: 100%;
}
.section-content__submit-name,
.section-content__submit-email,
.section-content__submit-text{
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  color: var(--white-color);
  border: none;
  padding-left: 20px;
  background-color: var(--deep-blue);
}
.section-content__submit-text{
  min-height: 200px;
  background-color: var(--deep-blue);
  border-radius: 5px;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
  resize: none;
}
/* .section-content__submit-text::-webkit-resizer {
  background-image: url(../img/Arrow.png);
  background-repeat: no-repeat;
} */
.section-content__submit-name:focus + .placeholder,
.section-content__submit-email:focus + .placeholder,
.section-content__submit-text:focus + .placeholder{
  opacity: 0;
  transition: opacity 0.3s ease;
}
.red{
  color: red;
}
.section-content__submit-name, .section-content__submit-email {
   width: 94%;
}




.footer{
  background-color: var(--deep-blue-footer);
  height: 14vh;
}
.footer__social{
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 41px;
}
.footer-social__icon .fab{
  display: none;
}
.b-social-icon__link{
  text-decoration: none;
  display: inline-block;
}
.footer-social__icon__link{
  color: var(--white-color);
}
.footer-social__text{
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.48px;
}
.footer-social__icon__link--facebook:hover{
  color: var(--facebook-color)
}
.footer-social__icon__link--twitter:hover{
  color: var(--twitter-color)
}
.footer-social__icon__link--googleplus:hover{
  color: var(--googleplus-color)
}
.footer-social__icon__link--linkedin:hover{
  color: var(--linkedin-color)
}
.footer-social__icon__link--behance:hover{
  color: var(--behance-color)
}
.footer-social__icon__link--dribbble:hover{
  color: var(--dribbble-color)
}
.footer-social__icon__link--github:hover{
  color: var(--github-color)
}

@media screen and (max-width: 1100px){
.section__content_portfolio{
  flex-direction: column;
}
.section__content-item-portfolio{
  width: 100%;
}
.b-head__logo{
  padding: 0px 20px;
}
.footer{
  height: 20vh;
}
}

@media screen and (max-width: 991.98px){
  .b-head-text__heading{
    padding: 0px 20px;
  }
  .b-head__text {
    padding-top: 150px;
}
/* .section__title--white:after{
  left: 170px;
}
.section__title--grey:after{
  left: 250px;
}
.section__title-skills:after{
  left: 120px;
}
.section__title--brown:after{
  left: 120px;
}
.section__title-about:after{
  left: 260px;
}
.section__title-touch:after{
  left: 100px;
} */
.section__content-img-portfolio {
  margin-bottom: 0px;
}
  .section__content_portfolio{
    flex-direction: column;
    width: 100%;
  }
  .b-head__logo{
    padding: 0px 20px;
  }
  .section{
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .section__content-item{
    flex: 45%;
  }
  .section__content{
    flex-wrap: wrap;
  }
  .section__content-img{
    margin-bottom: 20px;
  }
  .section__content-title{
    margin-bottom: 0;
  }
  .section-team__content-item-photo{
    max-width: 150px;
    max-height: 150px;
  }
  .section__content-text{
    max-width: 320px;
  }
  .section__content-item:first-child{
    margin-bottom: 30px;
  }
  .section__content-item:nth-child(2){
    margin-bottom: 30px;
  }
  .section__heading{
    margin-bottom: 30px;
    font-size: 16px;
  }
  .section__title{
    font-size: 34px;
    margin-bottom: 18px;
  }
  .section__content-item-portfolio{
    width: 90%;
  }
  .section__content-img-item-portfolio{
    width: 420px;
    top: 14px;
  }
  .section__content-img-portfolio{
    width: 550px;
    background-repeat: no-repeat;
    height: 350px;
  }
  .section__content-title--rose{
    margin-bottom: 0px;
  }
  .section__content-text--rose{
    max-width: 300px;
    font-size: 16px;
  }
  .section__content-text{
    margin-bottom: 20px;
  }
  .button__submit{
    padding: 20px 60px;
  }
  .section-content__message-item-textarea{
    height: 150px;
  }
  .section__content-text--grey{
    min-height: 90px;
  }
  .rose{
    padding: 0px 10px;
  }
  .section__content--rose{
    width: 95%;
  }
  .b-list__link {
    padding: 10px 14px;
}
.footer{
  height: 17vh;
}
.section__content-item-portfolio{
  margin-bottom: 30px;
}
.section__content-item-portfolio:last-child {
  margin-bottom: 50px;
}
.section__content--rose{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__content-item-about{
  width: 70%;
  margin-bottom: 30px;
}
.section__content-item-about:last-child{
  margin-bottom: 0px;
}
.rose{
  padding: 0px;
}
}
@media screen and (max-width: 767.98px){
  .b-head__logo {
    padding: 0px 10px 0px 20px;
}
  .b-head-text__heading-line{
    display: none;
  }
  .b-head-text__heading{
    font-size: 36px;
  }
  .b-head-text__heading{
    font-size: 30px;
    padding: 0px 30px;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
}
.section__text-content{
  padding: 0px 20px;
}
.b-head__nav-menu-list--node {
  font-size: 16px;
}
.section__content-img-portfolio {
  width: 500px;
  background-repeat: no-repeat;
  height: 350px;
}
.section__content-img-item-portfolio {
  width: 420px;
}
  .section__content-text--rose{
    max-width: 250px;
    font-size: 16px;
  }
  .section__content-title{
    font-size: 18px;
}
.section__content-item-about:first-child{
  margin-bottom: 20px;
}
.section__content-item-about:nth-child(2){
  margin-bottom: 20px;
}
  .section__content-text--grey{
    min-height: 60px;
  }
  .section-team__content-item-photo {
    width: 120px;
    height: 120px;
}
.footer-social__text{
  font-size: 18px;
}
.button__submit {
  padding: 15px 40px;
  font-size: 16px;
}
/* .section__content-img-about {
  padding-top: 10px;
} */
.section__filter {
  padding-bottom: 35px;
}
.section__content-img--green {
  max-height: 100px;
}
.section__content-img-item--green {
  max-height: 100px;
}
.section__content--rose{
  flex-direction: row;
}
.section__content{
  flex-direction: column;
}
.section__content-item{
  width: 100%;
  margin-bottom: 30px;
}
.section__content--blue{
  align-items: center;
}
.section-content__form{
  width: 80%;
}
.section-content__submit-name, .section-content__submit-email {
  width: 90%;
}
}







@media screen and (max-width: 575.98px){
/* .b-head__nav-btn-label{
  display: flex;
}
.fa-bars{
  font-size: 40px;
  color: var(--white-color);
}
.b-head__nav-menu{
  display: none;
}
.b-head__logo {
  justify-content: space-around;
}
.b-head__nav :checked ~ .b-head__nav-menu{
  display: block;
}
.b-head__nav-menu{
  position: absolute;
  left: -375px;
  top: 150px;
  z-index: 10;
  background-color: var(--first-bg-color);
}
.b-head__nav-menu--nude{
  display: inline-block;
}

.b-list__link--purple{
  display: block;
  padding: 20px 210px 20px 210px;
}
.b-head-text__heading {
  font-size: 22px;
  padding: 0px 50px;
} */
#menu {
  opacity: 0;
}
.b-head__nav-btn-label {
  display: flex;
  align-items: center; 
  position: fixed;
  top: 65px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.b-head__nav-btn-label > .b-head__nav-btn-span,
.b-head__nav-btn-label > .b-head__nav-btn-span::before,
.b-head__nav-btn-label > .b-head__nav-btn-span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
}
.b-head__nav-btn-label > .b-head__nav-btn-span::before {
  content: '';
  top: -8px;
}
.b-head__nav-btn-label > .b-head__nav-btn-span::after {
  content: '';
  top: 8px;
}
.b-head__nav-menu {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 100px;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: var(--first-bg-color);
  /* box-shadow: 1px 0px 6px rgba(0, 0, 0, .2); */
}
.b-head__nav-menu-list {
  display: block;
  padding: 12px 24px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.b-head__nav-menu-list:hover {
  background-color: #CFD8DC;
}
#menu:checked ~ .b-head__nav-btn-label > .b-head__nav-btn-span {
  transform: rotate(45deg);
}
#menu:checked ~ .b-head__nav-btn-label > .b-head__nav-btn-span::before {
  top: 0;
  transform: rotate(0);
}
#menu:checked ~ .b-head__nav-btn-label > .b-head__nav-btn-span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu:checked ~ .b-head__nav-menu {
  visibility: visible;
  right: 0;
}
.b-head__nav-btn-label > .b-head__nav-btn-span,
.b-head__nav-btn-label > .b-head__nav-btn-span::before,
.b-head__nav-btn-label > .b-head__nav-btn-span::after {
transition-duration: .25s;
}
.b-head__nav-menu {
transition-duration: .25s;
}
.b-head__nav-menu-list {
transition-duration: .25s;
}
.section__title {
  font-size: 24px;
  margin-bottom: 15px;
  padding: 0px 15px;
}
.section {
  padding-top: 30px;
  padding-bottom: 40px;
}
.section__content-text--grey {
  max-width: 300px;
  font-size: 14px;
}
.section__content-text--rose{
  max-width: 250px;
  font-size: 14px;
}
.section__text-content {
  font-size: 14px;
}
.section__content-title {
  font-size: 14px;
}
.section__content-subtitle {
  font-size: 12px;
  margin-bottom: 12px;
}
.section__content-img-item-portfolio {
  width: 200px;
  top: 9px;
  left: 49px;
}
.b-head__nav-menu-list--node {
  font-size: 12px;
  height: 25px;
  width: 60px;
}
.section__filter {
  padding-bottom: 20px;
}
.section-team__content-item-photo {
  max-width: 80px;
  max-height: 80px;
}
.section__heading {
  margin-bottom: 20px;
}
.section__content-img-about {
  font-size: 14px;
}
.button__submit {
  padding: 15px 30px;
  font-size: 14px;
}
.section__content--rose{
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section__content-item-about{
  width: 90%;
  margin-bottom: 15px;
}
.section__content-item-about:last-child{
  margin-bottom: 0px;
}
.section__content--blue {
  margin-bottom: 30px;
  width: 90%;
}
.section-content__form {
  width: 90%;
}
.section-content__submit-text{
  min-height: 100px;
  width: 90%;
}
.label-name, .label-email{
  width: 100%;
  margin-bottom: 10px;
}
.placeholder{
  font-size: 12px;
}
.section-content__submit-name, .section-content__submit-email, .section-content__submit-text {
    font-size: 14px;
  padding-left: 0px;
}

.section-content__submit-text{
  width: 100%;
}
.footer-social__text{
  display: none;
}
.footer-social__icon .fab{
  display: inline-block;
  font-size: 30px;
  color: var(--white-color);
}
.fa-facebook-square:hover{
  color: var(--facebook-color)
}
.fa-twitter-square:hover{
  color: var(--twitter-color);
}
.fa-google-plus-square:hover{
  color: var(--googleplus-color);
}
.fa-linkedin:hover{
  color: var(--linkedin-color);
}
.fa-behance-square:hover{
  color: var(--behance-color); 
}
.fa-dribbble-square:hover{
  color: var(--dribbble-color);
}
.fa-github-square:hover{
  color: var(--github-color);
}
.section-content__submit-email,
.section-content__submit-name{
  width: 100%;
}
.section__title--white:after{
  left: 120px;
}
.section__title--grey:after{
  left: 170px;
}
.section__title-skills:after{
  left: 80px;
}
.section__title--brown:after{
  left: 80px;
}
.section__title-about:after{
  left: 180px;
}
.section__title-touch:after{
  left: 70px;
}
.section__content-img-portfolio {
  width: 300px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
}
.section__content-item-portfolio:last-child{
  margin-bottom: 30px;
}
}
/* @media screen and (max-width: 465px){
  .b-list__link--purple{
    padding: 20px 150px 20px 200px;
  }

} */

@media screen and (max-width: 320px){
  .b-head__nav-menu{
    top: 110px;
  }
  .section {
    padding-top: 20px;
    padding-bottom: 30px;
}
  .section__title{
    font-size: 20px;
  }
  .section__content{
    flex-direction: column;
    align-items: center;
  }
  .section__content-item{
    width: 90%;
    margin-bottom: 15px;
  }
  .section__content-text {
    margin-bottom: 15px;
}
  .section__content-img-item--green {
    max-height: 60px;
}
.section__content-item:last-child {
  margin-bottom: 0px;
}
.c100.big {
  font-size: 100px;
}
.section-skills .section__content{
  width: 90%;
}
.section-team__content-item-photo--rose{
  margin-right: 20px;
}
.footer{
  height: 22vh;
}
}